@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   font-family:Nunito , sans-serif ;
  
}
:root{
    --primary:#d7d7d7;
    --secondary:#ff4e8a;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 221, 221);
  

}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card{
    width:300px;
    height:auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 60px rgb(121, 121, 121) ;
    border-radius: 10px;
    background-color: white;

}
.card-image{
  width:  100%;
  height:200px;
  position: relative;
  box-shadow: 0px 0px 60px rgb(163, 163, 163) ;


}
.card-image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 10px 10px 0 0;
}
img{
    width:  100%;
    height:  100%;
  border-radius: 10px  10px 0 0;
    object-fit: cover;
    
}
.card-image h2{
    color: white;
  text-transform: capitalize;
    
    width: 100%;
    font-size: 19px;
    position: absolute;
    top: 60px;
    left: 50%;
    translate: -50% 0;
    text-align: center;
    z-index: 10;
    
}
.card-image .close{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 12px;
    border-radius: 0 10px 0 0;
    width: 20px;
    height: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}
.card-body{
    padding: 20px;
}
.title{
   font-size: 25px;
   text-transform: capitalize;
   margin-bottom: 8px;
}
.features{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-top: 4px;

}
.item{
    font-size: 14px;
}
.item span{
    color: var(--secondary);
    font-weight: bold;
}
.box-icon{
    display: flex;
    align-items: center;
    gap:  6px;
}
.item p{
    text-transform: capitalize;
    font-weight: 600;
}
.desc{
    font-size: 14px;
    margin: 8px 0;
}
button{
    display: block;
  width: 80%;
margin: 0 auto;  
padding: 5px 0;
background-color: var(--secondary);
border: none;
border-radius: 5px;
color: white;
text-transform: capitalize;
transition: .5s all ease-in-out;
cursor: pointer;
}

button:hover{
    background-color: #fc0e5d;

}
